body {
    background: linear-gradient(0,  rgba(255,255,255,1) 95%, #5883C4 100%);
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    color: white;
  }
#form{
    border-radius: 3%;
    margin: 0 auto; 
    min-width: 320px;
    max-width: 30vw;
    max-height: 33vh;
    padding: 20px;
    text-align: center;
    margin-top: 30px; 
    background-color: #94B9EF;
}

#sub-btn{
    margin-top: 5px;
    font-size: medium;
    padding: 5px;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    max-width: 120px;
    max-height: 80px;
    color: black;
}
#sub-btn:hover{
    color: green;
}
#str-btn{
    display: inline-block;
    margin-top: 7px;
    padding: 1px;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    max-width: 120px;
    max-height: 80px;
    color: red;
}